<section>
  <div class="our-menu-content">
    <h2>Our Menu</h2>
    
    <div class="ramen-menu">
      
      <div class="tonkotsu">
        <img src="./../../../assets/img/3_section_our_menu/Png/R1.png" alt="Tonkotsu Ramen"/>
        <table class="ramen-table">
          <tr>
            <th colspan="2">Tonkotsu Ramen</th>
          </tr>
          <tr>
            <td>Chicken</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td>Beef</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>Shrimp</td>
            <td>13.95€</td>
          </tr>
        </table>
      </div>

      <div class="spicy">
        <table>
          <tr >
            <th colspan="2">Spicy Miso Ramen</th>
          </tr>
          <tr>
            <td>Chicken</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td>Beef</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>Shrimp</td>
            <td>13.95€</td>
          </tr>
        </table>
        <img src="./../../../assets/img/3_section_our_menu/Png/R2.png" alt="Spicy Miso Ramen"/>
      </div>

      <div class="shio">
        <img src="./../../../assets/img/3_section_our_menu/Png/R3.png" alt="Shio Ramen"/>
        <table>
          <tr >
            <th colspan="2">Shio Ramen</th>
          </tr>
          <tr>
            <td>Chicken</td>
            <td>11.95€</td>
          </tr>
          <tr>
            <td>Beef</td>
            <td>12.95€</td>
          </tr>
          <tr>
            <td>Shrimp</td>
            <td>13.95€</td>
          </tr>
        </table>
      </div>

    </div>

  </div>
</section>
